[Desktop Entry]
Name=Deals
Comment=Deals Widget
Type=Service
 
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_deal
X-KDE-PluginInfo-Author=John Groszko
X-KDE-PluginInfo-Email=grosjoh1@iit.edu
X-KDE-PluginInfo-Name=deals
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://www.wouba.com/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
